---
title: "About | Gateway Cornerstone Web Design"
description: "We are a premium web design agency based in St. Louis, MO specializing in custom designed and coded websites for small businesses across the U.S. Our mission is to help small businesses grow online with beautiful, high-performing websites that get results."
permalink: "/about/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner-t.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner-t.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/stl-m.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/stl-m.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title"></span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner-t.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner-t.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/banner-t.jpg" alt="purple" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-311">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/stl-m.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/stl-m.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/stl-m.jpg" alt="stl" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/about.png">
                <source media="(min-width: 601px)" srcset="/assets/images/about.png">
                <img loading="lazy" decoding="async" src="/assets/images/about.png" alt="Mark & Rachael Elmore, owners" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">GATEWAY CORNERSTONE</span>
            <h2 class="cs-title">WE MAKE WEBSITES WITH PURPOSE</h2>
            <p class="cs-text">
                Hello there! My name is Mark Elmore and I am the owner of Gateway Cornerstone Web Design. I have been in IT for more than 15 years and during that time I have done just about everything one can do: desktop support, major infrastructure projects, and websites. I started programming and focusing on development as a way to support my family, my community, and my church. Being able to have a career that was flexible to meet that goal was and is very important to me. Faith, integrity, and excellence are at the heart of what I do. 
                <br><br>
                So I launched Gateway Cornerstone Web Design because well, everyone needs a high quality website that performs. Sure there are many AI builders, WordPress type sites, etc. But not everyone has the time to learn those tools effectively, they aren't as secure and prone to hacking, they all look the same, and they simply do not perform well. 
                <br><br>
                At Gateway Cornerstone we are dedicated to building beautiful, functional websites that help businesses grow online. Our team of experienced designers and developers work closely with clients to create custom websites that reflect their brand and meet their unique needs. We don't just partner with small businesses, we are passionate about partnering with purpose driven organizations to help you have the same high quality website that will help you reach your missional goals. We are a proud faith based organization and we absolutely love partnering with other faith based organizations to help you meet your needs and budget.
                <br><br>
                I believe that a website is more than just an online presence - it's a powerful tool for connecting with people and driving success. I wholeheartedly want to partner with you to help you achieve your goals. Are you ready?
            </p>
            <!--<div class="cs-quote">
                <span class="cs-quote-text">
                    To live is an awfully big adventure.
                </span>
                <span class="cs-name">Mark Elmore</span>
                <span class="cs-job">Owner, Full Stack Developer</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>-->
            <a href="/contact/" class="cs-button-solid">CONTACT US</a>
        </div>
    </div>
</section>
                                

    
    {% include 'sections/cta.html' %}

{% endblock %}