---
title: "SEO | Gateway Cornerstone Web Design"
description: "We are a premium web design agency based in St. Louis, MO specializing in custom designed and coded websites for small businesses across the U.S. Our mission is to help small businesses grow online with beautiful, high-performing websites that get results."
permalink: "/seo/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/seo.css">

{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title"></span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner-t.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner-t.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/banner-t.jpg" alt="purple" width="1280" height="568" aria-hidden="true">
    </picture>
</div>



    {% include 'sections/cta.html' %}
{% endblock %}