// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-229 {
        /* changes on tablet */
        padding: 0 (16/16rem);
        position: relative;
        z-index: 1;
        /* prevents overflow from the lines extending past the screen width */
        overflow: hidden;

        .cs-picture {
            /* Background Image */
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Black Color Overlay */
                content: '';
                width: 100%;
                height: 100%;
                background: #000;
                opacity: .6;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }
            
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes image act like a background-image */
                object-fit: cover;
            }
        }

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
            /* 144px - 280px - leaving extra space for the navigation */
            /* changes on tablet */
            padding: clamp(9rem, 25.95vw, 17.5rem) 0 ;
            margin: auto;
            position: relative;

            &:before {
                /* Left Line */
                content: '';
                width: 1px;
                height: 100%;
                background: -moz-linear-gradient(top, rgba(250,251,252,0.5) 0%, rgba(250,251,252,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(250,251,252,0.5) 0%,rgba(250,251,252,0) 100%); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-flex-group {
            /* 60px - 220px */
            margin-bottom: clamp(3.75rem, 15.5vw, 13.75rem);
            margin: auto;
            width: 80vw;
            /* 464px - 562px */
            max-width: clamp(29rem, 60vw, 35.125rem);
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: (20/16rem);
            box-sizing: border-box;
        }

        .cs-topper {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 1.6vw, 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: .1rem;
            font-weight: 700;
            color: var(--primaryLight);
            margin-bottom: (16/16rem);
            display: block;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.40vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: center;
            width: 100%;
            /* 32px - 40px */
            margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            /* 32px - 40px */
            margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
            /* 40px - 48px */
            margin-bottom: clamp(2.5rem, 4vw, 3rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-button-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-button {
            min-width: (197/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-align: center;
            text-decoration: none;
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (48/16rem);
            background-color: var(--primary);
            overflow: hidden;
            color: #fff;
            border: none;
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-transparent {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            width: (180/16rem);
            /* 46px - 56px */
            height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
            margin: 0;
            color: #fff;
            padding: 0;
            background-color: transparent;
            border: 1px solid var(--bodyTextColorWhite);
            box-sizing: border-box;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                display: block;
                background: #000;
                opacity: 1;
                /* so it sits on top of the border */
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: -1px;
                z-index: -1;
                transform-origin: left;
                /* this is what creates the grow affect on hover */
                transform: scaleX(0);
                transition: transform .3s;
            }

            &:hover {
                &:before {
                    transform: scaleX(1);
                }
            }

            .cs-img {
                display: block;
                margin-right: (12/16rem);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-229 {
        /* 32px - 40px */
        padding: 0 clamp(2rem, 5vw, 2.5rem);

        .cs-container {
            &:after {
                /* Right Line */
                content: '';
                width: 1px;
                height: 100%;
                background: -moz-linear-gradient(top, rgba(250,251,252,0) 0%, rgba(250,251,252,0.5) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(250,251,252,0) 0%,rgba(250,251,252,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                right: 0;
            }
        }

        .cs-button-group {
            flex-direction: row;
        }
    }
}

/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-229 {
        background: url("/assets/images/stl-m.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
        /* creates parallax effect on background image */
        background-attachment: fixed;
        /* remove img tag so we can make parallax work */
        .cs-picture {
            img {
                display: none;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-229 {
            .cs-background {
                &:before {
                    opacity: .8;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-296 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1440px on desktop */
            max-width: (700/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: (32/16rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            /* clips image corners */
            overflow: hidden;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            transition: background-color 0.3s;
            &:hover {
                cursor: pointer;

                .cs-image {
                    opacity: 1;

                    img {
                        transform: scale(1.1);
                    }
                }

                .cs-icon {
                    /* turns it white */
                    filter: grayscale(1) brightness(1000%);
                }

                .cs-h3,
                .cs-item-text {
                    color: #fff;
                }
            }
        }

        .cs-image {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;
            background-color: var(--primary);
            transition: opacity 0.3s;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0.4;
                object-fit: cover;
                transition: transform 0.6s;
            }
        }

        .cs-link {
            text-decoration: none;
        }

        .cs-icon {
            width: auto;
            height: (48/16rem);
            margin-bottom: (24/16rem);
            display: block;
            path {
                transition: fill 0.3s;
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (16/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
            font-weight: bold;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-296 {
        .cs-card-group {
            justify-content: space-between;
            /* makes sure every box "stretches" to be the same height as the tallest box */
            align-items: stretch;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-item {
            width: 48.6%;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-296 {
        .cs-container {
            max-width: (1440/16rem);
        }

        .cs-card-group {
            justify-content: center;
        }

        .cs-item {
            /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw or 23% to get the desired sizes fit 4 in a row and then stack when you add more */
            width: clamp(23.84%, 22.5vw, 23.95%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-296 {
            .cs-topper {
                color: var(--secondaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--accent);
                &:hover {
                    background-color: var(--primary);
                }
            }

            .cs-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}


/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #sbsr-1363 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: #767676;
        }

        .cs-title {
            /* 23 characters wide including spaces */
            max-width: 26ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (24/16rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0 0 (24/16rem) 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
            align-items: center;
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            /* 16px - 24px */
            padding: clamp(1rem, 3vw, 1.5rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            border: 1px solid #e8e8e8;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-h3-icon {
            width: (32/16rem);
            height: auto;
            display: block;
        }

        .cs-item-text {
            font-size: (14/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (24/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            line-height: (56/16rem);
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (48/16rem);
            border-radius: (30/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #1a1a1a;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: (586/16rem);
            /* Changes to auto at desktop */
            height: (520/16rem);
            /* 32px - 48px */
            border-radius: clamp(2rem, 4vw, 3rem);
            /* clips the corners of the children around the border radius */
            overflow: hidden;
            position: relative;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            /* makes it cover the parent dimensions */
            object-fit: cover;
            display: block;

            img {
                width: 100%;
                height: 100%;
                /* makes it cover the parent like a backgorund image */
                object-fit: cover;
                display: block;
            }
        }

        .cs-box {
            text-align: left;
            width: 100%;
            max-width: (304/16rem);
            padding: (32/16rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: var(--primary);
            /* 48px - 80px */
            border-radius: (32/16rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (24/16rem);
            position: absolute;
            /* 12px - 20px */
            right: clamp(0.75rem, 1.9vw, 1.5rem);
            /* 12px - 20px */
            bottom: clamp(0.75rem, 1.9vw, 1.5rem);
        }

        .cs-box-icon {
            width: (60/16rem);
            height: auto;
            display: block;
        }

        .cs-desc {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            width: 100%;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-bubbles {
            font-size: ~"min(2.5vw, .7em)";
            width: (419/16em);
            height: (427/16em);
            position: absolute;
            /* reset at larger desktop */
            right: (-260/16em);
            /* changes to 30px at desktop */
            bottom: (-50/16em);
            z-index: -1;

            &:before {
                /* white border bubble */
                content: "";
                width: (330/16em);
                height: (330/16em);
                background: transparent;
                border: 1px solid #1a1a1a;
                border-radius: 50%;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                animation-name: floatAnimation;
                animation-duration: 5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: (260/16em);
                height: (260/16em);
                background: var(--primary);
                opacity: 0.15;
                border-radius: 50%;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 14s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1363 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-image-group {
            height: auto;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-bubbles {
            font-size: ~"min(2.5vw, 1em)";
            right: (-100/16rem);
            bottom: (0/16rem);
        }
    }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #sbsr-1363 {
        .cs-bubbles {
            margin-right: (750/16rem);
            left: auto;
            right: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbsr-1363 {
            .cs-topper {
                color: var(--primary);
            }

            .cs-title,
            .cs-text,
            .cs-li,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-li,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: rgba(0, 0, 0, 0.2);
                border-color: rgba(255, 255, 255, 0.2);
            }

            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-bubbles {
                &:before {
                    border-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}    

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-521 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 60px */
            gap: clamp(3rem, 10vw, 3.75rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            width: 80%;
            /* 32px - 36px */
            margin: 0 0 clamp(2rem, 4vw, 2.25rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 24px - 32px */
            row-gap: clamp(1.5rem, 4vw, 2rem);
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (32/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            /* 40px - 48px */
            row-gap: clamp(2.5rem, 6vw, 3rem);
            /* sends it to the top in the first position */
            order: -1;
        }

        .cs-stat-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: (16/16rem);
        }

        .cs-stat {
            list-style: none;
            max-width: (230/16rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-number {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 5vw, 3.8125rem);
            line-height: 1.2em;
            font-weight: 900;
            color: var(--headerColor);
        }

        .cs-desc {
            font-size: clamp(0.875rem, 1rem, 1.25rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 100%;
            /* 244px - 339px, changes clamp at tablet */
            height: clamp(14rem, 62vw, 21.1875rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-521 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-content {
            width: 71%;
            max-width: (540/16rem);
        }

        .cs-image-group {
            width: 68%;
        }

        .cs-stat-group {
            justify-content: flex-start;
        }

        .cs-picture {
            /* 340px - 461px */
            height: clamp(21.25rem, 35vw, 28.8125rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-521 {
            .cs-title,
            .cs-text,
            .cs-li,
            .cs-desc {
                color: var(--bodyTextColorWhite);
            }

            .cs-number,
            .cs-topper {
                color: var(--secondary);
            }

            .cs-button-solid {
                background-color: var(--secondary);
                color: #1a1a1a;

                &:before {
                    background-color: #fff;
                }
            }

             .cs-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
}

                                


/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1087 {
        padding: var(--sectionPadding);
        background-color: #f7f8f8;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16em);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            position: relative;
            z-index: 10;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
            position: relative;
            z-index: 10;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            margin: 0;
            /* 20px - 40px top *
            /* 16px - 32px left & right */
            padding: clamp(1.25rem, 3vw, 2.5rem) clamp(1rem, 3vw, 2rem);
            background-color: #fff;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            position: relative;

            &.cs-popular {
                background-color: #1a1a1a;

                &:before {
                    content: "Popular";
                    text-transform: uppercase;
                    font-size: (13/16rem);
                    font-weight: 700;
                    line-height: 1.2em;
                    letter-spacing: 0.01em;
                    padding: (8/16rem) (20/16rem);
                    background: var(--secondary);
                    color: var(--headerColor);
                    opacity: 1;
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 0;
                }

                .cs-package {
                    color: #888;
                }

                .cs-price,
                .cs-item-p,
                .cs-li {
                    color: var(--bodyTextColorWhite);
                }

                .cs-li {
                    &.cs-disabled {
                        filter: grayscale(1) brightness(550%);
                    }
                }

                .cs-icon {
                    /* if icon is not black, this turns it white */
                    filter: grayscale(1) brightness(1000%);
                }

                .cs-button-solid {
                    transition: color 0.3s;
                    &:hover {
                        color: var(--primary);
                    }
                    &:before {
                        background-color: #fff;
                    }
                }
            }
        }

        .cs-package {
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.4vw, 1rem);
            line-height: 1.2em;
            text-align: inherit;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0 0 (8/16rem) 0;
            color: #767676;
            display: block;
        }

        .cs-price {
            /* 31px - 49px */
            font-size: var(--headerFontSize);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 900;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-p {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            font-weight: 400;
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 2vw, 1.5rem);
            color: var(--bodyTextColor);
        }

        .cs-ul {
            /* 32px - 48px */
            margin: (24/16rem) 0 0;
            padding: (24/16rem) 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
            position: relative;

            &:before {
                content: "";
                width: 100%;
                height: 1px;
                background: linear-gradient(
                    90deg,
                    rgba(232, 232, 232, 0.2) 0%,
                    #e8e8e8 53.78%,
                    rgba(232, 232, 232, 0.2) 100%
                );
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.2em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: space-between;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (16/16rem);

            &.cs-disabled {
                opacity: 0.5;

                .cs-icon {
                    filter: grayscale(1) brightness(300%);
                }
            }
        }

        .cs-icon {
            width: (18/16rem);
            height: auto;
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-price-button {
            /* pushes up against the cs-ul so if there's loess li's in the list, the button always pushes itself to the bottom */
            margin-top: auto;
            width: 100%;
            border-radius: 0;
            &:before {
                border-radius: 0;
            }
        }

        .cs-floater {
            /* 76PX - 121PX */
            width: clamp(4.75rem, 7vw, 7.5625rem);
            height: auto;
            display: block;
            position: absolute;
            z-index: 1;
            pointer-events: none;
        }

        .cs-floater1 {
            top: 0;
            left: 0;
        }

        .cs-floater2 {
            bottom: 0;
            right: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1087 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
        }

        .cs-option2 {
            top: auto;
            bottom: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-1087 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-title,
            .cs-text,
            .cs-item-p,
            .cs-package,
            .cs-li,
            .cs-price,
            .cs-plan {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: rgba(0, 0, 0, 0.4);
                &.cs-popular {
                    background-color: rgba(217, 4, 41, 0.6);

                    .cs-package {
                        color: #fff;
                    }
                }
            }

            .cs-icon {
                /* makes icon white (if it wasnt black to start) */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-price-button {
                background-color: var(--bodyTextColorWhite);
                color: #1a1a1a;
                transition: color 0.3s;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1229 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/chevron-pattern-light3.svg");
            background-position: center;
            background-size: auto;
            background-repeat: repeat;
            opacity: 0.3;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (32/16rem);
        }

        .cs-flex {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            max-width: (650/16rem);
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 16px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1rem, 3vw, 2.5rem) clamp(1rem, 2.5vw, 2rem);
            box-sizing: border-box;
            background: #f7f7f7;
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            gap: (12/16rem);
            /* clips cs-icon overflowing */
            overflow: hidden;
            grid-column: span 6;
        }

        .cs-icon {
            /* 32px - 40px */
            width: clamp(2rem, 3vw, 2.5rem);
            height: auto;
            margin: 0;
            flex: none;
        }

        .cs-h3 {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 900;
            width: 100%;
            margin: 0;
            color: var(--headerColor);
            /* wraps longer words on the smallest screen sizes */
            overflow-wrap: break-word;
        }

        .cs-stat-group {
            width: 100%;
            margin: auto;
            padding: 0;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(6, 1fr);
        }

        .cs-stat {
            list-style: none;
            margin: 0;
            /* 16px - 40px */
            padding: clamp(1rem, 3vw, 2.5rem) (16/16rem);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            grid-column: span 2;

            /* border code */
            &:before {
                content: "";
                width: 2px;
                height: 100%;
                background: linear-gradient(
                    0deg,
                    rgba(72, 72, 72, 0) 0%,
                    rgba(72, 72, 72, 1) 50%,
                    rgba(72, 72, 72, 0) 100%
                );
                position: absolute;
                top: 0;
                right: 0;
            }

            /* remove the border on the far-right elements */
            &:nth-of-type(3),
            &:nth-of-type(5) {
                &:before {
                    content: none;
                }
            }

            /* makes the last two items span across multiple columns. changes at desktop to one line */
            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 3;
            }
        }

        .cs-desc {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: center;
            /* keeps the width of the stat description from overflowing onto the border */
            /* 88px - 176px */
            width: clamp(5.5rem, 20vw, 11rem);
            margin-bottom: (8/16rem);
            color: #858585;
            display: block;
        }

        .cs-number {
            /* 25px - 49px */
            font-size: clamp(1.5625rem, 3vw, 3.0625rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-1229 {
        .cs-container {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-card-group {
            display: grid;
            /* makes all grid items stretch to have the same height if their content isn't all the same height */
            align-items: stretch;
            grid-template-columns: repeat(2, 1fr);
        }

        .cs-item {
            grid-column: span 1;
            flex-direction: row;
            align-items: center;
        }

        .cs-stat-group {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-1229 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-content {
            flex-direction: row;
            align-items: center;
        }

        .cs-title,
        .cs-text {
            max-width: none;
        }

        .cs-card-group {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-stat-group {
            max-width: (1280/16rem);
            grid-template-columns: repeat(5, 1fr);
        }

        .cs-stat {
            grid-column: span 1;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 1;
            }

            &:nth-of-type(3) {
                &:before {
                    content: "";
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #stats-1229 {
            &:before {
                opacity: 0.4;
                filter: grayscale(1) brightness(1000%);
            }
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-number,
            .cs-desc {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-desc {
                opacity: 0.8;
            }

            .cs-icon {
                filter: grayscale(1) brightness(1000%);
            }

            .cs-item {
                background-color: var(--medium);
                border-color: rgba(255, 255, 255, 0.2);
            }

            .cs-icon {
                opacity: 0.5;
            }
        }
    }
}              
                                